
.post-btn-prev {
    margin-right: 5px;
}

.post-btn-next {
    margin-left: 5px
}

.blog-post-edit {
    float: right;
}

.blog-post-edit:hover {
    cursor: pointer;
}

.post-img-wrap {
    margin-bottom: 1.25rem;
}

.post-img {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
}
